.App {
  display: flex;
  flex-direction: column;
}

.Header {
  flex-grow: .4;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 32px;
  padding-top: 20px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MainBody {
  flex-grow: 9;
  background-color: rgb(17, 31, 122);
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 1000px;
}

.UsernameInput {
  margin-left: 25px;
  margin-top: 25px;
  width: 80%;
  border: 2px solid black;
}

.LoginBox {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  height: 40vh;
}

.Welcome {
  background-color: rgb(81, 185, 208);
  flex-grow: .7;
  margin-left: 22%;
  text-align: center;
}

.WelcomeText {
  padding-top: 25%;
  font-weight: bolder;
  font-size: 22px;
}

.WelcomeToText {
  padding: 5%;
  font-weight: bolder;
  font-size: 22px;
}

.QuizzyText {
  padding: 3%;
  font-weight: bolder;
  font-size: 32px;
  color: white;
}

.Login {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
  margin-right: 18%;
}

.LoginHeading {
  padding-top: 10%;
  padding-left: 25px;
  color: black;
  font-weight: bolder;
}


.LoginButton {
  margin-left: 33%;
  width: 30%;
  border: 2px solid black;
  margin-top: 60px;
  height: 10%;

}

.Footer {
  background: none;
  margin-left: 43%;
  margin-bottom: 20%;
  height: 10%;
  border: 2px solid black;
  font-size: 24px;
}

.MainBodyQuiz{
  overflow-y: scroll;
}

.ScoreBoard {
  display: flex;
  flex-direction: column;
}

.ScoreHead {
  padding :2%;
  color: orange;
  font-size: 24px;
}

.Score {
  font: 400;
  font-size: 22px;
  padding :2%;
}

.PlayAgain {
  width: 12%;
  margin-left: 40%;
  font-size: 20px;
  border: 2px solid black;
}
